################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/mpt-22-konstantinrossmann/v17
*.json
/.vs
/NeuronalesNetz/NeuroNet.d
/NeuronalesNetz/NeuroNet.o
/NeuronalesNetz/NeuroNet
/NeuronalesNetz/output
/NeuronalesNetz/neuronet-deltalearn.d
/NeuronalesNetz/neuronet-deltalearn.o
/NeuronalesNetz/neuronet-deltalearn
/NeuronalesNetz/ZeitMessung/zeit-uebersicht.xlsx
/NeuronalesNetz/omp/neuronet-deltalear-omp.o
/NeuronalesNetz/omp/neuronet-deltalear-omp.d
/NeuronalesNetz/omp/neuronet-deltalearn-omp.o
/NeuronalesNetz/omp/neuronet-deltalearn-omp.d
/NeuronalesNetz/omp/neuronet-deltalearn-omp
/NeuronalesNetz/omp/neuronet-deltalearn-parallel.o
/NeuronalesNetz/omp/neuronet-deltalearn-parallel.d
/NeuronalesNetz/omp/neuronet-deltalearn-parallel
/NeuronalesNetz/simd/neuronet-deltalearn-simd
/NeuronalesNetz/simd/neuronet-deltalearn-simd.o
/NeuronalesNetz/simd/neuronet-deltalearn-simd.d
/NeuronalesNetz/ZeitMessung/~$zeit-uebersicht.xlsx
/NeuronalesNetz/omp/neuronet-parallel.o
/NeuronalesNetz/omp/neuronet-parallel.d
/NeuronalesNetz/neuronet-omp/neuronet-parallel.o
/NeuronalesNetz/neuronet-omp/neuronet-parallel.d
/NeuronalesNetz/neuronet-omp/neuronet-parallel
/NeuronalesNetz/neuronet-omp/output
/NeuronalesNetz/neuronet-omp/test_output
/NeuronalesNetz/neuronet-omp/v2/neuronet-parallel-v2
/NeuronalesNetz/neuronet-omp/v2/neuronet-parallel-v2.o
/NeuronalesNetz/neuronet-omp/v2/neuronet-parallel-v2.d
/Abgabe/scripts/neuronet-parallel-simd.d
/Abgabe/scripts/neuronet-parallel-simd
/Abgabe/scripts/neuronet-parallel-simd.o
/Abgabe/scripts/neuronet.d
/Abgabe/scripts/main.d
/Abgabe/scripts/init.d
/Abgabe/scripts/init.o
/Abgabe/scripts/main
/Abgabe/scripts/main.o
/Abgabe/scripts/mnist.d
/Abgabe/scripts/mnist.o
/Abgabe/scripts/neuronet.o
/Abgabe/scripts/neuronmath.d
/Abgabe/scripts/neuronmath.o
/Abgabe/scripts/net-exe.o
/Abgabe/scripts/net-exe
/Abgabe/scripts/net-exe.d
/Abgabe/scripts/libtarget.so
/Abgabe/scripts/netPy.d
/Abgabe/scripts/netPy.o
/Abgabe/scripts/netPy.so
/Abgabe/src/init.d
/Abgabe/src/init.o
/Abgabe/src/mnist.d
/Abgabe/src/mnist.o
/Abgabe/src/net-exe.d
/Abgabe/src/net-exe.o
/Abgabe/src/netPy.d
/Abgabe/src/netPy.o
/Abgabe/src/neuronet.d
/Abgabe/src/neuronet.o
/Abgabe/src/neuronmath.d
/Abgabe/src/neuronmath.o
/Abgabe/src/netPy.so
/Abgabe/net-exe.d
/Abgabe/net-exe.o
/Abgabe/net-exe
/Abgabe/doc/beleg.log
/Abgabe/doc/beleg.out
/Abgabe/doc/beleg.toc
/Abgabe/doc/beleg.lof
/Abgabe/doc/beleg.aux
/Abgabe/doc/beleg.synctex(busy)
/Abgabe/doc/beleg.bbl
/Abgabe/doc/beleg.blg
